<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="seccion-logo-busqueda">
            <article class="logo-busqueda-boton">
                <img src="images/logo-mercado-liebre.svg" class="logo" alt="Logo MercadoLiebre" width="300px">      
                <div class="caja-cuadro">
                    <input type="search" placeholder="Buscar productos, marcas, etc." class="casillero"></input>
                </div>
                <div class="caja-boton">
                    <button type="submit" class="boton"><i class="fas fa-search"></i></button>
                </div>
            </article>

            <article class="compra-tarjetas">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </article>
        </section>

        
        <br>

        <section class="contenedor-links">
            <nav class="navbar">
                <ul type="none" class="barra-nav1">
                    <li class="lista1"><a href="./">Ofertas</a></li>
                    <li class="lista2"><a href="#">Tiendas Oficiales</a></li>
                    <li class="lista3"><a href="#">Vender</a></li>
                    <li class="lista4"><a href="#">Ayuda</a></li>
                </ul>
                <ul type="none" class="barra-nav2">
                    <li class="listaA"><a href="#">Creá tu cuenta <i class="far fa-id-card icon-nav"></i></a></li>
                    <li class="listaB"><a href="./login">Ingresá <i class="fas fa-sign-in-alt icon-nav"></i></a></li>
                    <li class="listaC"><a href="#">Mis compras <i class="fas fa-shopping-basket icon-nav"></i></a></li>
                </ul>
            </nav>
            <div class="contenedor-burger">
                <span class="burger-menu">
                    <a href=""><i class="fa fa-bars burger"></i></a>
                </span>
            </div>
        </section>
        
        <section>
            <img src="/images/img-home-banner.jpg" width="100%" class="banner" alt="Banner de ofertas">
        </section>
    </header>
    <main>
        <h2> Registro de usuario</h2>
        <article class="register-container">  
            <form method="POST" action="#" class="register-form">
                <input type="text" placeholder="Nombre y apellido" name="name-lastname" class="name-lastname" required></input>
                <input type="text" placeholder="Nombre  de usuario" name="username" class="username" minlength="6" required></input>
                <input type="email" placeholder="E-mail" name="email" class="email" required title="Ingrese un correo electrónico válido."></input>
                
                <h3 class="titulito">Fecha de nacimiento</h3>
                <input type="date" value="mm/dd/yyyy" name="birthday" class="birthday"></input>
                <input type="text" placeholder="Domicilio" name="address" class="address"></input>
                                
                <h3 class="titulito">Perfil de usuario</h3>
                <div class="perfil-usu"> 
                    <div  class="radio-item">
                        <input type="radio"><label class="radio-label">Comprador</label></input>
                    </div>
                    <div class="radio-item">
                        <input type="radio"><label class="radio-label">Vendedor</label></input>
                    </div>
                </div>        
                <h3 class="titulito">Categorías de Interés</h3>
                <div class="checkslist">
                    <div class="check-item">
                        <input type="checkbox"><label class="check-label">  Electro</label></input>
                    </div>
                    <div class="check-item">
                        <input type="checkbox"><label class="check-label">  Moda</label></input>
                    </div>
                    <div class="check-item">
                        <input type="checkbox"><label class="check-label">  Hogar</label></input>
                    </div>
                    <div class="check-item">
                        <input type="checkbox"><label class="check-label">  Juguetería</label></input>
                    </div>
                    <div class="check-item">
                        <input type="checkbox"><label class="check-label">  Vida Sana</label></input>
                    </div>
                </div>
                <h3 class="titulito">Foto de usuario</h3>
                <input type="file" name="userpic" accept="image/*" class="userpic"></input>                    
                <input type="password" class="password" name="password" placeholder="Contraseña" minlength="8" required></input>
                <input type="password" class="password" name="password" placeholder="Confirmar contraseña" required></input>
                <div class="botones">
                    <button type="submit" class="boton-sincolor"><a href="./" class="send-button"> Enviar<a/></button>
                    <button type="reset" class="reset-button"> Borrar datos</button>
                </div>
            </form>
        </article>
    </main>
    <footer>
        <section class="contenedor-pies">
            <article class="pie">
                <div>
                    <i class="fas fa-credit-card icono"></i>
                </div>
                <div class="texto">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>
            <article class="pie">
                <div>
                    <i class="fas fa-gift icono"></i>
                </div>
                <div class="texto">
                    <h3>Envío gratis desde los $ 2.500</h3>
                    <p>Solo por estar registrad@ en MercadoLiebre<br>
                    tenés envíos gratis en miles de productos. Es<br>
                    un beneficio de MercadoPuntos</p>
                </div>
            </article>
            <article class="pie">
                <div>
                    <i class="fas fa-user-shield icono"></i>
                </div>
                <div class="texto">
                    <h3>Seguridad de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre<br>
                    no hay nada que no puedas hacer porque<br>
                    estás siempre protegid@</p>
                </div>
            </article>
        </section>
        <section class="copyright">
            <article class="texto">
                <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
</body>
</html>