body {
    background-color: #ebebeb;
}

* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    box-sizing: border-box;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #EAC926;
}

.caja-logo-busqueda {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin: 15px;
    height: 50%;
    width: 50%;
    flex: 1 1 auto;
}

.busqueda-boton {
    margin-top: 20px;
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compra-tarjetas {
    margin-top: 10px;
    text-align: center;
    flex: 5 1 100%;
}

.caja-cuadro {
    flex: 0 1 auto;
}

.cuadro-busqueda {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.caja-boton {
    flex: 0 1 auto;
    text-align: left;
}

.boton {
    padding: 2px 5px;
    font-size: 1em;
    border-radius: 3px;
    border: solid 1px #666;
    background: #ebebeb;
}

.navbar {
    display: none;
}

.contenedor-burger {
    margin-top: 0px;
    padding: auto;
    text-align: center;
    visibility: visible;
    display: flex;
    justify-content: center;
}

.burger-menu {
    background-color: #1259c3;
    padding: 9px 10px;
    border-radius: 3px;
    text-align: center;
}

.burger {
    font-size: 18px;
    text-align: center;
    color: #fff;
    align-self: center;
}

.banner {
    margin-top: 15px;
    position: relative;
    top: 5px;
}

main {
    margin: auto;
    background-color: #ebebeb;
    align-content: right;
    width: 90%;
}


/* =================== LOGIN ======================== */

.send-button {
    background-color: #1259c3;
    color: #fff;
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}


/* =================== REGISTER ======================== */

.form-container,
.login-form {
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    width: 90%;
    justify-content: center;
    margin-bottom: 15px;
}

.name-lastname,
.username,
.email,
.password {
    margin-bottom: 35px;
    width: 250px;
    height: 28px;
    border: none;
    border-radius: 5px;
}

.name-lastname::-webkit-input-placeholder {
    margin-left: 10px;
    color: #666;
}

.username::-webkit-input-placeholder {
    margin-left: 10px;
    color: #666;
}

.email::-webkit-input-placeholder {
    margin-left: 10px;
    color: #666;
}

.password::-webkit-input-placeholder {
    margin-left: 10px;
    color: #666;
}

.name-lastname::-moz-placeholder {
    font-size: 12px;
    color: #666;
}

.username::-moz-placeholder {
    font-size: 12px;
    color: #666;
}

.email::-moz-placeholder {
    font-size: 12px;
    color: #666;
}

.password::-moz-placeholder {
    font-size: 12px;
    color: #666;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ultima-visita {
    margin-top: 20px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    background: #fff;
    padding-bottom: 10px;
    margin: 15px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.camion-detalle {
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
}

.camion {
    color: #39b54a;
}

.detalle {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.precio {
    font-size: 18px;
    margin: 0px;
    padding: 3px 5px;
    flex-grow: 30%;
}

.descu {
    font-size: 16px;
    color: #39b54a;
    margin: 0px;
    padding: 3px 5px;
    text-align: left;
    flex-grow: 70%;
}

.descrip {
    right: 70px;
    visibility: hidden;
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
    flex-grow: 100%;
}

footer {
    background-color: #fff;
    text-align: center;
}

.icono {
    font-size: 2em;
    color: #1259c3;
    padding-top: 40px;
    margin-bottom: 10px;
}

footer h3 {
    margin-bottom: 0px;
}

footer p {
    margin-top: 0px;
}

.texto {
    color: #666;
}

.copyright {
    margin-top: 30px;
    padding-bottom: 10px;
}


/* -- Tablets -- */

@media (min-width: 361px) {
    /* ------------ */
    /* -- Header -- */
    /* ------------ */
    .navbar {
        margin-top: 25px;
        margin-bottom: 0px;
        visibility: visible;
        display: flex;
        justify-content: space-between;
    }
    .contenedor-burger {
        display: none;
    }
    .barra-nav1,
    .barra-nav2,
    a {
        text-decoration: none;
        color: black;
        text-align: left;
        margin-left: 20px;
    }
    .barra-nav2 {
        margin-right: 30px;
    }
    /* ---------- */
    /* -- Main -- */
    /* ---------- */
    .contenedor-tarjetas {
        display: flex;
        flex-wrap: wrap;
    }
    .tarjeta {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
    }
    .descrip {
        visibility: visible;
    }
}


/* -- Desktop -- */

@media (min-width: 769px) {
    * {
        font-size: 1rem;
    }
    /* ------------ */
    /* -- Header -- */
    /* ------------ */
    .caja-logo-busqueda {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        flex: 1 1 auto;
        max-width: 380px;
    }
    .busqueda-boton {
        align-self: center;
        flex: 2 1 auto;
        text-align: center;
    }
    .compra-tarjetas {
        align-self: center;
        flex: 1 1 auto;
        text-align: center;
    }
    .navbar {
        margin-top: 25px;
        margin-bottom: 0px;
        visibility: visible;
        display: flex;
        justify-content: space-between;
    }
    .barra-nav1 {
        display: flex;
        flex-flow: row;
        align-self: center;
        text-align: center;
        justify-content: space-between;
    }
    .barra-nav2 {
        display: flex;
        flex-flow: row;
        align-self: center;
        text-align: center;
        justify-content: space-between;
        margin-right: 30px;
    }
    .lista1,
    .lista2,
    .lista3,
    .lista4,
    .listaA,
    .listaB,
    .listaC {
        flex-grow: 0.5;
    }
    .contenedor-burger {
        display: none;
    }
    /* ---------- */
    /* -- Main -- */
    /* ---------- */
    .contenedor-tarjetas {
        display: flex;
        flex-wrap: wrap;
    }
    .tarjeta {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 21%;
    }
    .descrip {
        visibility: visible;
    }
    /* ------------ */
    /* -- Footer -- */
    /* ------------ */
    .contenedor-pies {
        display: flex;
        justify-content: space-around;
    }
}