body {
    background-color: #EAC926;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial
}

.enlaces a {
    color: black;
    text-decoration: none;
}

.burger-menu {
    color: #03264C;
}

h2 {
    font-size: 24px;
}

#precio {
    font-size: 18px;
}

#descu {
    font-size: 16px;
}

h4 #descrip {
    font-size: 16px;
}

.centrado {
    text-align: center;
}