body {
    background-color: #ebebeb;
}

* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    box-sizing: border-box;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #EAC926;
}


/* =================== SECCIÓN LOGO BUSQUEDA LEYENDA ======================== */

.logo-searchbar-text {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.logo-busqueda-boton {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    box-sizing: content-box;
    width: 50%;
    flex: 0 1 auto;
    margin: 15px 5px;
}

.caja-cuadro {
    box-sizing: content-box;
    width: 50%;
    flex: 0 1 60px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    padding: auto;
    margin-left: 0px;
}

.casillero {
    border: none;
    height: 28px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 0px;
    flex: 1 0 auto;
}

.caja-boton {
    text-align: left;
    flex: 1 0 auto;
}

.boton {
    padding: 6.5px 5px;
    font-size: 1em;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fff;
    color: #666;
}

.compra-tarjetas {
    margin-top: 10px;
    text-align: center;
    flex: 2 1 100%;
}


/* =================== SECCIÓN NAVBAR - BURGER ======================== */

.navbar {
    display: none;
}

.contenedor-burger {
    margin-top: 0px;
    padding: auto;
    text-align: center;
    visibility: visible;
    display: flex;
    justify-content: center;
}

.burger-menu {
    background-color: #1259c3;
    padding: 9px 10px;
    border-radius: 3px;
    text-align: center;
}

.burger {
    font-size: 18px;
    text-align: center;
    color: #fff;
    align-self: center;
}


/* =================== SECCIÓN BANNER ======================== */

.banner {
    margin-top: 15px;
    position: relative;
    top: 5px;
}

main {
    margin: auto;
    background-color: #ebebeb;
    align-content: right;
    width: 90%;
}


/* =================== SECCIÓN TAJETAS ======================== */

h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ultima-visita {
    margin-top: 20px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    background: #fff;
    padding-bottom: 10px;
    margin: 15px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

.tarjeta:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: border 0.5s;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.camion-detalle {
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
}

.camion {
    color: #39b54a;
}

.detalle {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.precio {
    font-size: 18px;
    margin: 0px;
    padding: 3px 5px;
    flex-grow: 30%;
}

.descu {
    font-size: 16px;
    color: #39b54a;
    margin: 0px;
    padding: 3px 5px;
    text-align: left;
    flex-grow: 70%;
}

.descrip {
    right: 70px;
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
    opacity: 0;
    flex-grow: 100%;
}

.descrip:hover {
    opacity: 1;
    transition: opacity 0.5s;
}


/* =================== SECCIÓN FOOTER ======================== */

footer {
    background-color: #fff;
    text-align: center;
}

.icono {
    font-size: 2em;
    color: #1259c3;
    padding-top: 40px;
    margin-bottom: 10px;
}

footer h3 {
    margin-bottom: 0px;
}

footer p {
    margin-top: 0px;
}

.texto {
    color: #666;
}

.copyright {
    margin-top: 30px;
    padding-bottom: 10px;
}


/* =================== LOGIN ======================== */

.login-container {
    display: flex;
    flex-flow: column;
    margin-left: 6%;
}

.send-button {
    background-color: #1259c3;
    color: #fff;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.send-button:hover {
    background-color: #0022aa;
    transition: 0.5s;
}

.boton-sincolor:hover {
    background-color: #0022aa;
    transition: 0.5s;
}


/* =================== REGISTER ======================== */

.register-container {
    display: flex;
    flex-flow: column;
    margin-left: 6%;
}

.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    justify-content: center;
    margin-bottom: 15px;
}

.name-lastname,
.username,
.email,
.birthday,
.address,
.password {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 25px;
    width: 100%;
    height: 28px;
    border: none;
    border-radius: 5px;
}

.titulito {
    margin: 20px 0px 15px 3px;
}

.perfil-usu {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.radio-item {
    margin-left: 5px;
}

.radio-label {
    margin-left: 10px;
}

.checkslist {
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    width: 50%;
    flex-wrap: wrap;
}

.check-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.check-label {
    margin-left: 7px;
}

.userpic {
    margin: 3px 0px 30px 10px;
}

.botones {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.boton-sincolor {
    background: #1259c3;
    border: none;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.reset-button {
    background: #fff;
    width: 100%;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    height: 30px;
}

.send-button {
    text-decoration: none;
}


/* -- Tablets -- */

@media (min-width: 361px) {
    /* =================== HEADER ======================== */
    .seccion-logo-busqueda {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .compra-tarjetas {
        justify-content: center;
        align-self: center;
        flex: 0 1 auto;
    }
    .leyenda {
        width: 30%;
        margin-right: 15px;
    }
    .logo-busqueda-boton {
        text-align: center;
        justify-content: center;
        flex: 1 1 auto;
    }
    .casillero {
        width: 150px;
    }
    .navbar {
        margin-top: 25px;
        margin-bottom: 0px;
        visibility: visible;
        display: flex;
        justify-content: space-around;
    }
    .contenedor-burger {
        display: none;
    }
    .barra-nav1,
    .barra-nav2,
    a {
        text-decoration: none;
        color: black;
        text-align: left;
    }
    .barra-nav1,
    .barra-nav2 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .lista1,
    .lista2,
    .lista3,
    .lista4,
    .listaA,
    .listaB,
    .listaC {
        font-size: 8px;
        padding: 3px;
    }
    /* =================== MAIN ======================== */
    .contenedor-tarjetas {
        display: flex;
        flex-wrap: wrap;
    }
    .tarjeta {
        width: 40%;
    }
}


/* -- Desktop -- */

@media (min-width: 769px) {
    * {
        font-size: 1rem;
    }
    /* =================== HEADER ======================== */
    .logo {
        margin-left: 20px;
        flex: 1 1 30%;
    }
    .compra-tarjetas {
        flex: 1 1 40%;
    }
    .logo-busqueda-boton {
        justify-content: space-around;
        flex: 1 1 60%;
        margin-top: 10px;
    }
    .casillero {
        flex: 1 1 70%;
        width: 350px;
        height: 24px;
    }
    .boton {
        padding: 3px 5px;
    }
    .contenedor-burger {
        display: none;
    }
    .barra-nav1 {
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1 50%;
        margin-right: 5%;
    }
    .barra-nav2 {
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1 50%;
        margin-left: 5%;
    }
    /* =================== MAIN ======================== */
    .contenedor-tarjetas {
        display: flex;
        flex-wrap: wrap;
    }
    .tarjeta {
        width: 21%;
    }
    .descrip {
        visibility: visible;
    }
    /* =================== FOOTER ======================== */
    .contenedor-pies {
        display: flex;
        justify-content: space-around;
    }
    .icono:hover {
        color: #39b54a;
        transition: color 0.5s;
    }
}